body {


}




.Title1{
    font-size: 20px;
    color: black;
    font-family: GaultierMono, monospace;
    margin-left: 100px;




}
.header1{
    background: white;
    padding: 15px 40px;
    border-bottom: 1px solid #ccc;

}

.logo1 {
    display: block;      /* ensures margin auto works */
    height: 40px;        /* adjust size as needed */
}


.ul1 {
    display: flex;
    align-items: center;
}

.ul1 li:nth-child(3) {
    margin-left: auto;
    margin-right: auto;
}
/*sadasd*/
.titleAndBtn {
    display: flex;
    align-items: center;
    padding: 0 10%;        /* 100px from left/right walls */

    box-sizing: border-box; /* include padding in width */
}

.textImage{
    width: 30%;
    padding: 0 20%;

}

.perfumesImages {
    display: flex;              /* arrange images in a row */
    justify-content: space-between; /* push first image left, last image right */
    flex-wrap: wrap;            /* allow next row if more images */
    padding: 0 10%;             /* walls: 10% left/right */
}

.perfumesImages img {
    width: 30%;                  /* each image roughly half of row */
    display: block;              /* remove extra inline spacing */
    margin-bottom: 20px;         /* optional: vertical spacing between rows */
}



.h1parfums{

    margin-right: auto;
    font-size: 120px;
    color: black;
    font-family: GaultierMono, monospace;
}


.h2parfums{

    margin-right: auto;
    font-size: 50px;
    color: black;
    font-family: GaultierMono, monospace;
}


.header1 ul{


    list-style: display;
    display: flex;
    gap: 90px;
    margin: 3px;
    padding: 0;

}

/* wadawdwa */
.ul1 li {
    list-style: none;
}

.ul1 a{
    text-decoration: none; /* removes underline */
    color: black;
    font-family: GaultierMono, monospace;
}

.ul1 a:hover {
    color: #c38b3a; /* perfume-gold vibe */
    transform: scale(1.05);
}

.imageContainer {
    position: relative;
    width: 100%;
}
/*sfefesf*/
.imgTextMain {
    position: absolute;
    bottom: 5%;   /* distance from bottom */
    left: 5%;     /* distance from left */
    color: white;
    font-size: 10rem;
    font-weight: bold;
    text-shadow: 5px 2px 2px black;
}

.btnFilter1{
    background-color: white;
    color: black;
    border-color: black;
    cursor: pointer;
    font-family: GaultierMono, monospace;
    font-size: 14px;
    height: 6em;
    width: 12em;
    margin-bottom: 3em;
}

.btnFilter1:hover {
    background-color: darkgray;
    color: white;
}
    .btnFilter{
    background-color: white;
    color: black;
    border-color: black;
    cursor: pointer;
    font-family: GaultierMono, monospace;
    font-size: 14px;
    height: 6em;
    width: 12em;
    margin-bottom: 3em;
}



.btnFilter:hover {
    background-color: darkgray;
    color: white;
}


.imgSignature{
    height: 10em;
    margin: 10px;

}




.ul1{
    padding: 0px;
    margin: 0px;


}

.TextVoordelen{

    font-family: GaultierMono, monospace;
}
.myimage{
    width: 100%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 50px auto;
}
.textAndImage{
    background: linear-gradient(to bottom, #ff7e5f, #feb47b);
    width: 80%;

}
.paragraph1{
    text-align: left;
    font-size: 15px;
    margin-left: 340px;
    margin-top: 30px;
    color: black;
    width: 600px;
    font-family: GaultierMono, monospace;

}

.blockperfumes{

    display: flex;
    gap: 20px;
    justify-content: left;
    margin-top: 30px;
}


@keyframes appear{


    from  {
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

#block{

    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.textAndImage{
    display: flex;
    margin: 30px 0;
    width: 100%;
    align-items: center;
    padding: 0 50px;
    margin: 90px 0;
    box-sizing: border-box;
}

.imageInText {
    width: 40%;     /* don’t use 50em, it’s too big */
    max-width: 100%;
}

.footerblack{
    background-color: black;
    height: 300px;
    margin-top: 100px;
    display: flex;
    justify-content: center;

}

.imagesOnFooter{
    border-radius: 130px;
    height: 10em;
}


.blocksOfTextt
{
    height: 10em;
    margin-top: 20px;
    color: white;
    width: 20%;
    text-align: center;

}

.imgSignature{
    display: flex;
    margin: auto;
    margin-top: 30px;


}

.VoordelenVoor{
    font-size: 120px;
    text-align: center;

}

